@import "instance";
@debug bp((value: 45, initial_base: 1920));

.main_header {
    // @include bc($c0, $c1);
    @include wh(100%, 120px);
    @include position;
    padding: 0 min(5.26vw, 100px);
    z-index: 1;
    color: $c2;
    // background: $bg2;
    background: $c1;
    border: 1px solid $c1;
    border-bottom: 1px solid $c2;

    @include brp($b6) {
        padding: 0;
        // border: none;
        @include wh(100%);

    }

    .group_1 {
        @include justify-content(space-between);
        @include wh(100%);
        @include flex;
        margin-top: min(1.61vw, 31px);
        margin-bottom: min(1.61vw, 31px);
        padding: initial;

        @include brp($b6) {
            @include bc(rgba($c1, 0.3), $c1);
            padding: 0 min(5.26vw, 40px);
            margin-top: 10px;
            margin-bottom: 0;
            height: 70px;
        }

        .logos {
            @include center-flex-row;
            @include justify-content(space-between);
            @include wh(150px);

            @include brp($b6) {
                @include wh(60px);
            }

            .logo_adidas {
                @include normalize_svg((
                    width: nth($l2x, 1),
                    height: nth($l2y, 1)
                ));

                @include brp($b6) {
                    @include wh(
                        nth($l2x, 2),
                        nth($l2y, 2)
                    );
                }
            }

            .logo_wwc {
                @include normalize_svg((
                    width: nth($l1x, 1),
                    height: nth($l1y, 1)
                ));

                @include brp($b6) {
                    @include wh(
                        nth($l1x, 2),
                        nth($l1y, 2)
                    );
                }
            }

            .separator {
                @include wh(1px, 58px);
                background-color: $c1;
                display: block;

                @include brp($b6) {
                    height: 30px;
                }
            }
        }

        .container_menu_experience {
            @include center-flex-row;
            @include gap(min(1.30vw, 25px));

            .arrow_left {
                @include normalize_svg((
                    width: nth($l4x, 1),
                    height: nth($l4y, 1)
                ));
                margin-right: 20px;
                cursor: pointer;

                @include brp($b6) {
                    @include wh(
                        nth($l4x, 2),
                        nth($l4y, 2),
                    );
                }
            }

            .arrow_right {
                @include normalize_svg((
                    width: nth($l4x, 1),
                    height: nth($l4y, 1)
                ));
                margin-left: 20px;
                cursor: pointer;

                @include brp($b6) {
                    @include wh(
                        nth($l4x, 2),
                        nth($l4y, 2),
                    );
                }
            }

            .link_ex {
                @include wh(min(9.16vw, 176px), 53px);
                @include center-flex-row;
                border-radius: 10px;  
                color: $c1;
                transition: .5s;

                @include brp($b6) {
                    display: none;
                }

                &.active,
                &:hover {
                    border: 2px solid $c1;

                    @include brp($b6) {
                        @include flex;
                        border: 0 none $c0;
                        width: 86px;
                    }
                }

                &:hover {
                    @include bc($c1, $c2);
                }
                
                .title {
                    @extend %title_1;
                    @include user-select;
                }
        
            }
        }

        .container_button_2 {
            display: none;

            @include brp($b6) {
                opacity: 0;
                display: block;
            }

            .menu_close {
                @include whs(40px);
                cursor: pointer;
                display: block;

                &.open {
                    .circle_menu {
                        @include transition(all $t8);
                        transition-timing-function: ease-out;
                        stroke: {
                            dasharray: 360 0;
                        }
                    }

                    .line_menu_1 {
                        @include transition(all $t5);
                        transform: rotate(-45deg);
                        transform-origin: 127px 97px;
                    }

                    .line_menu_2 {
                        @include transition(all $t5);
                        stroke: {
                            dasharray: 75 56;
                        }
                    }

                    .line_menu_3 {
                        @include transition(all $t5);
                        transform: rotate(45deg);
                        transform-origin: 128px 117px;
                    }
                }

                .global {
                    stroke: $c1;
                    stroke: {
                        linecap: round;
                        width: 5.6;
                    }
                    fill: none;
                }

                .line_menu_1 {
                    @include transition(all $t5);
                    transform: none;
                    transform-origin: 127px 97px
                }

                .line_menu_2 {
                    @include transition(all $t5);
                    stroke: {
                        dashoffset: 75;
                        dasharray: 75 0;
                    }
                }

                .line_menu_3 {
                    @include transition(all $t5);
                    transform: none;
                    transform-origin: 128px 117px;
                }
            }
        }

        .container_button {
            @include position;
            z-index: 2;

            @include brp($b6) {
                @include position(
                    fixed,
                    14px, 36px,
                );
                left: initial;
                right: 15px;
            }

            @include brp($b9) {
                @include transform(scale(0.8));
            }

            .link {
                all: initial;
                @include font(szrem(16), $f1, bold);
                @include border-radius(5px);
                // @include wh(60px, 45px);
                @include wh(185px, 45px);
                @include center-flex-row;
                @include bc($c2, $c1);
                @include position;
                @include user-select;
                // place-content: flex-start;
                cursor: pointer;
                border: $bd3;

                @include brp($b6) {
                    @include whs(54px);
                    // @include whs(100px);
                    @include bc($c0, $c1);
                    @include ht;
                }

                &:hover {
                    .card {
                        @include transition(left $t4);
                        left: 0;

                        path[class*=line_] {
                            stroke: {
                                dashoffset: 0;
                            }
                        }
                    }
                }

                .card {
                    @include position;
                    @include wh(
                        nth($l3x, 1),
                        nth($l3y, 1)
                    );
                    margin-left: 5px;
                    stroke: $c1;
                    stroke-width: .4;

                    @include brp($b6) {
                        @include position(relative, 0, -11px);
                        @include transition(left $t4);
                        @include wh(
                            nth($l3x, 2),
                            nth($l3y, 2)
                        );
                        stroke: $c2;
                        stroke-width: 1;
                    }

                    .icon_cart { fill: $c1; }

                    path[class*=line_] {
                        @include transition(all $t5);
                        stroke: $c1;
                        stroke: {
                            width: 0.54px;
                            linecap: round;
                            linejoin: round;
                            miterlimit: 4;
                        }

                        @include brp($b6) {
                            stroke: $c2;
                        }
                    }

                    .line_1 {
                        stroke: {
                            dasharray: 16;
                            dashoffset: -16
                        }
                    }

                    .line_2 {
                        stroke: {
                            dasharray: 11;
                            dashoffset: -11;
                        }
                    }

                    .line_3 {
                        stroke: {
                            dasharray: 5;
                            dashoffset: -5;
                        }
                    }
                }
            }
        }
    }

    .group_2 {
        @include center-flex-row;
        @include wh(100%);
        
        @include brp($b6) {
            @include justify-content(center);
            @include border-radius(0 0 20px 20px);
            @include align-items(center);
            @include bc(rgba($c4, 0.1), $c1);
            @include transition(all $t5);
            @include wh(
                100%,
                193px
            );
            overflow: hidden;
            backdrop-filter: blur(25px);
        }

        &.close {
            @include transition(all $t5);
            height: 0;
            padding-top: 0;
        }

        .main_nav {
            display: none;

            @include brp($b6) {
                @include center-flex-column;
                @include align-items(flex-start);
                @include no-margins;
                @include gap(30px);
            }

            .item {
                @extend %text_1;
                @include user-select;
                color: $c1;
                margin: 0 auto;
            

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .menu_gooey {
        width: 12%;
        @include position(relative, 9px, -25px);

        @include brp($b6) {
            position: fixed;
            top: calc(100vh - 171px);
            left: 15px;
        }
        .gooey,
        .gooey *,
        .gooey *:before,
        .gooey *:after {
            box-sizing: border-box;
            transition: all 0.3s;
            -webkit-transition: all 0.3s;
        }
    
        .gooey {
            filter: url("#goo");
            position: relative;
            left: 106px;
            top: 0;
            -webkit-filter: url("#goo");

            @include brp($b6) {
                @include position(
                    fixed,
                    calc(100vh - 88px), 18px,
                );
            }

            .check {
                display: none;
            }

            .button_gooey {
                background-image: url("../../img/bg/col.webp");
            }
           
            .button_gooey.open {
                background-image: url("../../img/bg/jersey.webp");
            }
 
            .button {
                position: relative;
                height: 50px;
                width: 50px;
                border-radius: 100%;
                cursor: pointer;
                background-position: center;
                background-size: contain;
                z-index: 10;

                @include brp ($b6) {
                    @include wh(40px, 40px);
                }
    
                &:not(:first-child) {
                    position: absolute;
                    top: 30px;
                    left: 0;
                    height: 0;
                    width: 0;
                    opacity: 0.5;
                    border-width: 0;
                    transform: scale(0);
                    -webkit-transform: scale(0);
                }

                .text {
                    @include position(absolute, 60px, 0);
                    font-size: 10px;
                    color: $c1;
                    text-transform: uppercase;
                    font-family: $f2;
                    opacity: .7;
    
                    &:hover {
                        text-decoration: underline;
                        opacity: 1;
                    }
                }

                &.col {
                    z-index: 3;
                    transition: all 0.6s, border-color 0.3s;
                    -webkit-transition: all 0.6s, border-color 0.3s;
                    background-image: url("../../img/bg/col.webp");
                }

                &.ar {
                    z-index: 2;
                    transition: all 1.2s, border-color 0.3s;
                    -webkit-transition: all 1.2s, border-color 0.3s;
                    background-image: url("../../img/bg/ar.webp");
                }

                &.feds {
                    z-index: 1;
                    transition: all 1.8s, border-color 0.3s;
                    -webkit-transition: all 1.8s, border-color 0.3s;
                    background-image: url("../../img/bg/feds.webp");
        
                    .text {
                        width: max-content;
                        left: -13px;
                    }
                }
            }

                
            .check:checked ~ .button:not(:first-child) {
                top: 0;
                height: 50px;
                width: 50px;
                border-width: 2px;
                opacity: 1;
                transform: scale(1);
                -webkit-transform: scale(1);
                transition-timing-function: ease-in-out;
                -webkit-transition-timing-function: ease-in-out;
                @include brp($b6){
                    height: 40px;
                    width: 40px;
                }
            }
    
            .check:checked ~ .button:nth-child(3) {
                left: 88px;
                top: -47px;

                @include brp($b6){
                    left: 0;
                    top:-97px;
                }
            }
    
            .check:checked ~ .button:nth-child(4) {
                left: 101px;
                top: 60px;
                @include brp($b6){
                    left: 70px;
                    top: -70px;
                }
            }
        
            .check:checked ~ .button:nth-child(5) {
                left: 0;
                top: 100px;
                @include brp($b6){
                    left: 90px;
                    top: 20px;
                }
            }
        }   
         
        .arrow_down {
            @include normalize_svg((
                width: 19px,
                height: 12px
            ));
            display: block;
            &:before{
                width: 19px;
                height: 12px;
                left: 123px;
                top: 75px;
                @include brp($b6) {
                    display: none;
                }
            }

            &:target {
                display: none;
            }
        }
    }
}
